* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Manrope";
  font-weight: 500;
}


@font-face {
  font-family: "OpenSans";
  src: url("./fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("./fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("PoppinsMedium"),
    url("./fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 400;
}
